name: Deploy Static Website to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/deploy_key.pem
          chmod 600 ~/.ssh/deploy_key.pem

      - name: Deploy files to EC2
        run: |
          rsync -avz --delete \
          --exclude='.git' \
          --no-times \
          -e "ssh -i ~/.ssh/deploy_key.pem -o StrictHostKeyChecking=no" \
          ./ ubuntu@98.81.58.190:/var/www/html-site/
